<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biblioteca</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
  <h1>📚 Biblioteca</h1>

  <div class="filtros">
    <input type="text" id="buscador" placeholder="Buscar por título, autor o editorial...">
    <select id="ordenarPor">
      <option value="titulo">Ordenar por título</option>
      <option value="autor">Ordenar por autor</option>
      <option value="año">Ordenar por año</option>
    </select>
    <p class="contador" id="contador"></p>
    <button id="addBook"><img src="static/plusIcon.svg"></button>
  </div>
  <div id="añadidor">
    <input type="text" id="buscadorISBN" placeholder="ISBN">
    <button id="searchBtn"><img src="static/searchIcon.svg"></button>
  </div>
  <form id="manualForm">
    <input type="text" id="isbn" placeholder="ISBN" readonly>
    <input type="text" id="titulo" placeholder="Título">
    <input type="text" id="autor" placeholder="Autor">
    <input type="text" id="editorial" placeholder="Editorial">
    <input type="text" id="anio" placeholder="Año">
    <input type="text" id="portada" placeholder="URL portada">
    <button type="submit">Agregar Libro</button>
  </form>

  <div id="editarForm" style="display:none;">
    <h3>Editar libro</h3>
    <input type="text" id="edit-isbn" placeholder="ISBN" readonly />
    <input type="text" id="edit-titulo" placeholder="Título" />
    <input type="text" id="edit-autor" placeholder="Autor" />
    <input type="text" id="edit-editorial" placeholder="Editorial" />
    <input type="text" id="edit-anio" placeholder="Año" />
    <input type="text" id="edit-portada" placeholder="URL portada" />
    <button id="btnGuardarEdicion">Guardar cambios</button>
  </div>

  <div class="tabla-contenedor">
    <table id="tablaLibros">
      <thead>
        <tr>
          <th>Portada</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Editorial</th>
          <th>Año</th>
          <th>ISBN</th>
        </tr>
      </thead>
      <tbody id="libros"></tbody>
    </table>
  </div>

  <script src="{{ url_for('static', filename='script.js')}}"></script>
</body>
</html>
